{% extends 'base/base.html' %}
{% block title %}
    <title></title>
{% endblock %}

{% block content %}

    <h2 class="sub-header">新闻详情</h2>

        <div class="form-group">
            {#   新闻标题   #}
            {{ form.title.label }}
            {{ form.title }}
            <p class="help-block">{{ form.title.description }}</p>
        </div>

        {# 新闻正文   #}
        <div class="form-group">
            {{ form.content.label }}
            {{ form.content() }}
            {{ ckeditor.config(name='content') }}
        </div>

        {# 新闻类型  #}
        <div class="form-group">
            <label for="news_type">新闻类型</label>
            <select class="form-control" id="news_type" name="news_type">
                {% for news_type in news_type_list %}
                    <option value="{{ news_type.id }}">{{ news_type.type }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            {#   置顶级别   #}
            {{ form.is_top.label }}
            <p class="help-block">{{ form.is_top.description }}</p>
            {{ form.is_top }}
        </div>

        <div class="form-group col-sm-offset-9 col-md-offset-10">
            {#   审批按钮   #}
            <a href="javascript:;" type="button" class="btn btn-success review-news"
            review_news_url="{{ url_for('news.news_review',uid=news_obj.uid) }}">审批</a>
            <a style="position: relative;margin-left: 20px;" href="javascript:;" type="button" class="btn btn-danger del-news"
            delete_url="{{ url_for('news.news_delete',uid=news_obj.uid) }}">删除</a>
        </div>
{% endblock %}

{% block extrajs %}
    {# 审批新闻   #}
    <script>
    $('.review-news').click(function () {
        var url = $(this).attr('review_news_url');
        var tr = $(this).parents('tr');
        if (window.confirm('确认审批通过吗？')){
            $.post(url,function (rest) {
                if (rest==='ok'){
                    tr.addClass('hidden');
                    alert('已审批通过');
                    window.location.href="{{ url_for('news.news_review_list') }}"
                }
                else
                    alert('审批失败')
        })
        }
    })
    </script>
    {#  删除新闻的操作  #}
    <script>
    $('.del-news').click(function () {
        var url = $(this).attr('delete_url');
        var tr = $(this).parents('tr');
        if (window.confirm('确认删除吗？')){
            $.post(url,function (rest) {
                if (rest==='ok'){
                    tr.addClass('hidden');
                    alert('删除成功');
                    window.location.href="{{ url_for('news.news_review_list') }}"
                }
                else
                    alert('删除失败')
        })
        }
    })
    </script>
{% endblock %}